<configuration>
	<appSettings>
		<add key="LocalDatabase" value="PROVIDER=SQLSERVER DATABASE PROVIDER;DATA SOURCE=SQL DATA SOURCE;UID=SQL DATA SOURCE USERNAME;PWD=INSERT ILLIAD DATABASE USER PASSWORD;DATABASE=INSERT ILLIAD DATABASE USERNAME" />
		<add key="PartonAPI" value="URL TO ALMA-ILLIAD USERDATA SCRIPT" />
		<add key="errorBadUsernamePassword" value="It looks like your username or password was wrong. " />
		<add key="errorBadBarcodeName" value="It looks like your barcode or name was wrong. " />
		<add key="errorNoPacRecord" value="It looks like we have no record of you in our library user database. " />
		<add key="errorOwesMoney" value="Our records indicate that you currently have library fines exceeding $10.00.  You cannot use interlibrary loan until the fines have been paid." />
		<add key="errorHoldOnRecord" value="Our records indicate that you currently have a hold on your record. " />
		<add key="errorNotAllowed" value="Our records indicate that you are not allowed to use interlibrary loan. " />
		<add key="errorExpired" value="Our records indicate that you no longer have privileges to use the library. " />
		<add key="errorBadName" value="An unexpected error occurred.  You name appears incorrect in our files. " />
		<add key="errorBadAddress" value="An unexpected error occurred.  You address appears incorrect in our files. " />
		<add key="errorBadLastUpdatedDate" value="An unexpected error occurred.  We could not find a last updated field for your record. " />
		<add key="errorBadExpirationDate" value="An unexpected error occurred.  We could not find an expiration date for your record. " />
		<add key="errorMissingCSUSMEmail" value="An unexpected error occurred.  Our records indicate you do not have a CSUSM e-mail on file with the Library. " />
		<add key="errorMissingEmail" value="An unexpected error occurred.  Our records indicate you do not have an e-mail on file with the Library. " />
		<add key="errorMissingMoneyOwedField" value="An unexpected error occurred.  We could not find the money owed field for your record. " />
		<add key="errorMissingManualBlockField" value="An unexpected error occurred. We could not find the manual block field for your record. " />
		<add key="errorMissingPatronTypeField" value="An unexpected error occurred.   We could not find a patron type for your record. " />
		<add key="errorMissingUsernameField" value="An unexpected error occurred.  We could not find a username field for your record. " />
		<add key="errorMissingDepartment" value="An unexpected error occurred.  We could not find a department field for your record. " />
	</appSettings>
	<system.web>
		<customErrors defaultRedirect="error.aspx" mode="RemoteOnly" />
		<compilation debug="true" />
	</system.web>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script" />
    </system.webServer>
</configuration>
